html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/s.jfif) ;
    background-repeat: no-repeat;
    background-position: right 35% bottom 45%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* canculator */
.main {
    height: 600px;
    width: 310px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    background: rgba(223, 230, 233,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main .question,.ans{
    width: 90%;
    height: 62px;
    margin:0 auto;
    
    font-size: 25px;
}
/* ////////////////// */
.question{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ques{
    background: rgba(246, 229, 141,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    width: 100%;
    box-shadow: 2px 5px 10px rgba(45, 52, 54,1.0);
}

.main .ans{
    background: rgba(164, 177, 182,0.5);
    box-shadow: 2px 5px 10px rgba(45, 52, 54,1.0);
}
.main .ans .ans_zone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
}
.main .canculator{
    width: 90%;
    height: 328px;
    margin: 0 auto;
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
}
.main .canculator .key{
    position: relative;
    flex-grow: 1;
    display: flex;
    margin: 4px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(255, 184, 184,0.8);
    border-radius: 4px;
    box-shadow: 2px 5px 10px rgb(45 52 54 / 70%);
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    width: 35px;
    height: 45px;
}

.key_14{
    flex-grow: 1;
    width: 102px !important;
    background-color: rgba(255, 118, 117,0.8) !important;
} 
.key_15{
    margin-top: 20px !important;
    background-color: rgba(24, 220, 255,0.7) !important;
    flex-grow: 2;
} 
.key_16{
    margin-top: 20px !important;
    background-color: rgba(85, 239, 196,0.8) !important;
    flex-grow: 2;
} 
.key_17{
    width: 0px !important;
    height: 40px !important;
    margin-top: 23px !important;
    border-radius: 100% !important;
    background-color: rgba(255,255,255,0.6) !important;
} 
.key:hover{
    cursor: pointer;
}
.key:active{
    box-shadow: 2px 5px 10px rgba(45, 52, 54,1.0);
    position: relative;
    top: 3px;
    left: 3px;
}
.btn__back a{
    text-decoration: none;
    color: white;
}
.btn__back{
    height: 40px;
    width: 60px;
    background-color: rgba(99, 110, 114,1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    user-select: none;
    border-radius: 5px;
}
.btn__back:hover{
    background-color: rgba(9, 132, 227,0.8);
}

@media (max-width : 785px){
    .main {
        margin-top: 30px;
    }
}
@media (max-width : 400px){
    .main {
        height: 550px;
        width: 300px;
    }
}
