html{
    font-size: 16px;
    overflow: hidden;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-image: url(../img/13.jpg);
    background-position: 70% 50% !important;
}
.btn__back .back{
    color: white;
    text-decoration: none;
}
.footer{
    margin: 0%;
    padding: 0;
}
header{
    color: #0984e3;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}
.wrapper{
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    display: flex;
    justify-content: center;
   z-index: 1;
}
.wrapper p{
    padding: 80px 50px;
    position: absolute;
    background: rgba(255,255,255,0.5);
    box-shadow: 2px 5px 15px rgba(0,0,0,0.7);
    border-radius: 100%;
    width: 221px;
    height: 221px;
    top: 30px;
    text-decoration: none;
    font-size: 30px;
    color: #353b48;
    font-weight: bold;
    text-align: center;
    line-height: 68px;
}
