@media (max-width:480px){
    body{
        background-size : cover;
        background-position: right 35% bottom 60%;;
        /* overflow-y: hidden ; */
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
    }
    .animation-load{
        /* top: 46%;
        left: 30%; */
    }
    header{
        margin-top: 80px;
        color: rgba(85, 239, 196,1.0);
        text-shadow: 2px 5px 15px #636e72;
    }
    .wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        /* margin-left: -44%; */
        width: 100%;
    }
    .wrapper a{
        padding: 5px;
        background: rgba(255,255,255,0.5);
        border-radius: 15px;
        font-size: 30px;
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
    }
    .wrapper a span{
        width: 213px;
        padding: 23px 20px;
        text-align: center;
    }
}