@media (max-width:480px){
    body{
        background-size : cover;
        background-position: right 35% bottom 60%;;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        height: unset;
    }
    header{
        margin-top: 80px;
        color: rgba(85, 239, 196,1.0);
        text-shadow: 2px 5px 15px #636e72;
    }
    .wrapper{
        position: relative;
        max-width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 23px;
        display: flex;
        justify-content: center;
        height: 75vh;
        z-index: 1;
        flex-direction: column;
        align-items: center;
    }
    .result{
        margin-top: 30px;
        text-align: center;
        line-height: 50px;
        border-radius: 5px;
    }
}