body{
    background-image: url('../img/bg1.jpeg');
    background-position: 40% 20% !important;
}
body::after{
    background: rgba(189, 195, 199,0.2);
}
#main{
    width: 100%;
    height: 20%;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.row1,.row2,.row3{
    display: flex;
}
.item{
    width: 60px;
    height: 60px;
    /* background: rgba(255,255,255,0.5); */
    background-color: rgba(85, 239, 196,0.8);
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;position: relative;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.7);
}
.item:focus{
    box-shadow: 2px 5px 10px rgba(45, 52, 54,0.9);
}
.item img{
    width: 25px;
    height: 25px;
}
.player,.boot{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    /* pointer-events: none; */
}
.player{
    left: 0;
    transform: translateX(-100%);
}
.boot{
    right: 0;
    transform: translateX(100%);
}
.result{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 90px;
    background-color: rgba(52, 73, 94,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    transform: translateX(-100%);
    z-index: 5;
}
.reset{
    position: absolute;
    bottom: 90px;
    padding: 10px 20px;
    background-color: rgba(128, 142, 155,1.0);
    border-radius: 5px;
    color: white;
    box-shadow: 2px 6px 15px rgba(0,0,0,0.5);
    /* transform: translateY(100px); */
    opacity: 0;
}
footer{
    color: white;
}
@keyframes player {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes player_reset {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes boot_reset {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes boot {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes show_cell_X {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes show_cell_Y {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes show_cell_X_right {
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes show_cell_Y_bottom {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes hide_reset {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}